.update{
  margin-left: 5px;
  margin-right: auto;
  background-color: black;
  
}
input{
width: 180px;
background-color: white;
color: rgb(0, 0, 0);
border-width: 1px;
border: 1px solid rgb(0, 0, 0);

}
#button {
    background-color: #4CAF50;
 
    color: white;
   
   
    text-decoration: none;
  
    font-size: 16px;
  
  }
  input[type=text]:focus {
    border: 5px solid rgb(213, 18, 18);
  }
 