#footer{
    text-align: center;
    color:ffffff;
}

#nav{
    margin-bottom: 1px;
  width:80.9rem;
  height:4.5rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size:x-large;
 
  
}
#footer{
    text-align: center;
    margin-left: 5rem;;
}