.g-4{
   
    margin-left: auto;
    margin-right: auto;
    font-family:'Times New Roman', Times, serif;
   
    text-align: center;
}
#a{
    background-color: black;
    color: white;
    margin-top: 20px;
   
}
#b{
    margin-top: 20px;
    background-color: black;
    color: white;
}
#c{
    background-color: black;
    color: white;
}
#d{
    background-color: black;
    color: white;
}
#e{
    background-color: black;
    color: white;
}
#f{
    background-color: black;
    color: white;
    
}
#g{
    background-color: black;
    color: white;
    
}
#h{
    background-color: black;
    color: white;
    
}
#i{
    background-color: black;
    color: white;
    margin-bottom:20px;
    
}
#j{
    background-color: black;
    color: white;
    margin-bottom:20px;
    
}